@model Game

@{
	ViewBag.Title = @Model.Name;
	ViewBag.ImageSrc = @Model.ImageUrl;
	ViewBag.MainClass = "main-view";
}

<partial name="_GameInfoHeader" />

<div class="game-info-container">
	<div>
		<h3>Developer</h3>
		<p>@Model.Developer</p>
	</div>
	
	<div>
		<h3>Genre</h3>
		<p>@Model.Genre</p>
	</div>

	<div>
		<h3>Release Year</h3>
		<p>@Model.Year</p>
	</div>
</div>

<h3>Description</h3>
<p>@Model.Description</p>