<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* Google Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap" rel="stylesheet">

    @* Custom CSS *@
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
</head>
<body>
    <header>
        <img src="@ViewBag.ImageSrc" />
        <h1 class="page-heading">@ViewBag.Title</h1>
    </header>
    <main class="@ViewBag.MainClass">
        @RenderBody()
    </main>
</body>
</html>
